---
import Layout from "@/layouts/Layout.astro";
import clsx from "clsx";
import { getCollection } from "astro:content";
import Link from "@/components/shared/Link";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <section
    class="prose prose-slate dark:prose-invert pb-20 max-w-none md:prose-p:text-justify prose-headings:text-teal-700 prose-headings:dark:text-green-350"
  >
    <Link href="/blog">&lt; Back to blog</Link>
    <Content />
  </section>
</Layout>
