---
import Hero from "@/components/Hero";
import Layout from "../layouts/Layout.astro";
---

<Layout title="sy3d.dev | Homepage">
  <main>
    <Hero />
    <section class="flex flex-col gap-8 container mx-auto">
      <ol>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
        <li>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum fugit
          tenetur tempora odit facilis eligendi, consequuntur praesentium
          aliquid. Maiores laudantium placeat numquam ipsa corporis sequi non,
          reprehenderit iusto natus sapiente!
        </li>
      </ol>
    </section>
  </main>
</Layout>
