---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sy3d.dev | Homepage">
  <main>
    <h1 class="container font-bold mx-auto my-8 text-6xl text-center">
      Hi, I'm Syed 👋
    </h1>
    <section class="container mx-auto my-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime maiores
      aliquid dolorum quisquam obcaecati dolor hic magnam necessitatibus ipsum
      saepe vel, provident laboriosam tempore odit tempora voluptatum
      exercitationem veritatis architecto?
    </section>
  </main>
</Layout>
