---
import Layout from "@/layouts/Layout.astro";
import clsx from "clsx";
---

<Layout title="Syed Taqi Haider's Notes">
  <section class="flex items-center">
    <h2 class={clsx("text-center text-3xl font-semibold w-full my-10")}>
      Notes coming soon...
    </h2>
  </section>
</Layout>
